.bold, 
strong, 
b {
	font-weight: 700;
}

.underline, 
u, 
ins {
	text-decoration: underline;
}

.italic, 
em, 
i, 
cite, 
var, 
dfn, 
address {
	font-style: italic;
}

.text-small, 
small {
	font-size: 75%;
}

.text-normal {
	font-size: 100%;
}

.text-large, 
big {
	font-size: 125%;
}

.text-huge {
	font-size: 175%;
}

pre, 
code, 
samp, 
.mono {
	font-family: monospace;
}

.pointer {
	cursor: pointer;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.display-table {
	display: table;
}

.display-table-cell {
	display: table-cell;
}

.color-dark {
	color: #333333;
}

.color-medium {
	color: #808080;
}

.color-light {
	color: #DCDCDC;
}

.fixed {
	position: fixed;
}

.clear {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.clear-none {
	clear: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-justify {
	text-align: justify;
}

a img {
	border: none;
}

.light-rounded {
	border-radius: 3px;
}

.medium-rounded {
	border-radius: 5px;
}

.heavy-rounded {
	border-radius: 8px;
}

.full-rounded {
	border-radius: 50%;
}

.strike, 
del, 
s {
	text-decoration-line: line-through;
}

.transparent {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.upper {
	text-transform: uppercase;
}

.lower {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

.center, 
.centre {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

img {
	max-width: 99%;
}

mark, 
.mark {
    background-color: yellow;
}

sup, 
.sup {
    vertical-align: super;
    font-size: smaller;
}

sub, 
.sub {
    vertical-align: sub;
    font-size: smaller;
}

.back-black {
    background-color: #000000;
}

.back-white {
    background-color: #FFFFFF;
}

.back-blue {
    background-color: #0000FF;
}

.back-green {
    background-color: #00FF00;
}

.clearfix:after {
	content: "\00A0"; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
}

@media print {
	.noPrint  {
		display: none;
	}
}